/MathString/nbproject/private/
/MathString/build/
/TestString/nbproject/private/
/TestString/build/
/TestLoop/nbproject/private/
/TestLoop/build/
/GuessNumber/nbproject/private/
/GuessNumber/build/
/DoWhileLoop/nbproject/private/
/ForLoopFactorial/nbproject/private/
/ForLoopFactorial/build/
